.border-dashed {
  border: 2px dashed #ccc !important;
}

.sidebar {
  width: 250px;
  height: 100vh !important;
  background: white;
  padding: 15px 18px;
}
.category-form {
  background: #f8f9fa;
  border-radius: 8px;
}
.category-item {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-item p:hover {
  background: #f1fdf4;
  color: black;
}
.category-item button {
  font-size: 18px;
}
