* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-dashed {
  border: 2px dashed #eeeeee !important;
}

.sidebar {
  width: 250px;
  height: 100vh !important;
  background: white;
  padding: 15px 18px;
}
.category-form {
  background: #f8f9fa;
  border-radius: 8px;
}
.category-item {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-item p:hover {
  background: #f1fdf4;
  color: black;
}
.active-category p {
  background: #f1fdf4 !important;
  color: black !important;
}
.category-item button {
  font-size: 18px;
}
.cursor-pointer {
  cursor: pointer;
}

/* Custom styles */
.input-div {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #05966887 !important;
  padding: 6px;
}

.input-border {
  flex: 1;
  border: none;
  outline: none;
  background: transparent !important;
  min-width: 0;
}
.input-border:focus {
  background: transparent !important;
}
.input-border::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
.input-border:-webkit-autofill,
.input-border:-webkit-autofill:hover,
.input-border:-webkit-autofill:focus,
.input-border:-webkit-autofill:active {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: inherit !important;
}
/* .icon {
  font-size: 1.25rem;
} */

.input-div:has(.input-border:focus) {
  box-shadow: none;
  border: 1px solid #059669 !important;
}

@media (max-width: 860.98px) {
  .ellipses {
    display: none !important;
  }
}

@media (max-width: 589.98px) {
  /* .icon {
    font-size: 1.5rem !important;
  } */
  .steps-section {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 470.98px) {
  .auth-card {
    width: 100% !important;
  }
}
